.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

body {
  // TODO: come up with better background
  background-color: #cccccc;
}


.toast__alert {
   position: absolute;
   right: 5%;
   bottom: 5%;
}
