.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

body {
  // @TODO: come up with better background
  background-color: #cccccc;
}

.node__error {
  background: red;
}
