.settings h3 {
  background: #141414 !important;
  // color: #000;
  border: 0px solid #000 !important;
}

.settings-content {
  background-color: #141414 !important;
}

.settings-footer {
  background-color: #141414 !important;
  border: 0px solid #000 !important;
}
